<h1>Tomas Y Bernat</h1>
<p>Programadores pequeños para cosas grandes</p>
<form>
	<input type="email" name="email" placeholder="Tu email">
	<input type="submit">
</form>
<h1>¿Quien somos?</h1>
<p>Somos dos programdores que epezamos hace unos cuantos años, y en ello hemos descubierto una gran pasión</p>
<h1>¿Que hacemos?</h1>
<p>Cada uno nos dedicamos en diferentes ramas de la programación, bernat en la creación de videjuegos y aplicaciones para computadoras, yo en cambió en el diseño web. Pero los dos no hemos unido en la creción de proyectos gratuitamente.</p>
<h1>¿Que te proponemos?</h1>
<p>Nosotros te creamos una pagina web o videojuego a cambió de ayuda o algun tipo de curso para seguir mejorando</p>
<table>
	<thead><h1>Planes</h1></thead>
	<tr>
		<td>Web</td>
		<td>Video Juegos</td>
		<td>Redes sociales</td>
	</tr>
	<tr>
		<td>5 horas de cursos</td>
		<td>10 horas de cursos</td>
		<td>15 horas de cursos</td>
	</tr>
</table>
<h1>Conatcta con nosotros</h1>
<form>
	<label>Tu correo</label>
	<input type="email">
	<label>Plan</label>
	<input type="text">
	<label>Nombre</label>
	<input type="text">
</form>